.page {
   display:flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: column;
   
   
     
}
.header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 1000px;
    padding-bottom: 10px;
}

.previews {
    display: flex;
    width: 1000px;
    
}
.image-display {
    display: flex;
    width: 50%;
    border-bottom: 1000px;
    
}


.main-image {
   display: flex;
   width: 500px;
   height: 100%;
    
    
}
.four-small-images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    object-fit: cover;
}

.four-small-images > img {
    width: 50%;
    height: 50%;
}
.description-and-price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1000px;
    padding-bottom: 10px;
    border-bottom: 1px black solid;
}
.reserve-box {
    border: black 2px solid;
    border-radius: 20px;
    width: 250px;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
}
.price-stars {
    display: flex;
    justify-content: space-around; 
    margin-top: 15px;
}

.reserve-button {
    display: flex;
    justify-content: center;
    background-color: #0070E0;
    margin: 15px;
    box-shadow: 2px 2px 2px black;
    height: 25px;
    width: 220px;
}

.reviews {
    display: flex;
    flex-direction: column;
    width: 1000px;
    margin-top: 10px;
}
.star-rating {
    display: flex;
    flex-direction: row;
}

.post-review-button {
    background-color: #0070E0;
    margin: 15px;
    box-shadow: 2px 2px 2px black;
    width: 100px;
}

.reviews-summary {
    display: flex;
    flex-direction: column;
}

.reviewer-name {
    font-weight: bold;
    padding-bottom: 2px;
}

.review-date {
    font-size: smaller;
    color: lightgray;
    padding-bottom: 6px;
}

.review {
    padding-bottom: 15px;
}



#OpenModalButton {
    background-color: 
    
}

button {
    background-color: #0070E0;
    width: 150px;
}