.all-spots {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-right: 0px;
    padding-left: 0px
}

.abbreviated-spot {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* align-items: center; */
    padding: 10px;
    cursor: pointer;
    position: relative;
}

.thumbnail {
    width: 300px;
    z-index: 0;
}

.bottom-text {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between;
    align-items: start; */
}
.bottom-left-text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.star-rating {
    display: flex;
    align-items: center;
}
.spot-name {
    z-index: 10;
    position: absolute;
    background-color: lightgrey;
    top: 30%;
    left: 40%;
}

.hidden {
    display: none;
}
