.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: grey 1px solid;
}

.profile-dropdown {
  position: absolute;
}

.hidden {
  display: none;
}
.left-side-nav {
  display: flex;
  align-items: center;
}

.right-side-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 20px;
  
}

.create-a-spot-link {
  padding-right: 40px;
  cursor: pointer;
  color: #0070E0;
}

.profile-button {
  padding-right: 20px;
  cursor: pointer;
}

img {
  height: 30px;
}
Link {
  height: 30px;
}

.profile-button {
  background-color: #0070E0;
  width: 35px;
  height: 25px;
}
